<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/x-icon" href="~/img/logo-color.png">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Content/Place" style="color:white;">مکان های دیدنی</a></li>
                    <li><a href="~/Login/Index" style="color:white;">پنل مدیریت</a></li>
                    <li><a href="~/Home/About" style="color:white;">درباره ما</a></li>
                    <li><a href="~/Home/game" style="color:white;">سرگرمی</a></li>
                    <li><a href="~/Problems/Create" style="color:white;">راه ارتباطی</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
